.header-nav {
  background-color: #000000;
  border-bottom: none;
  position: fixed;
  height: 40px;
  padding-top: 4px;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      display: inline;
      margin-right: 20px;
    }
  }
}

.anchor-link {
  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #ffa500;
    }
  }
}

.Main_Content {
  padding-top: 50px;
}
